
<div class="w-full sm:w-1/2 cursor-pointer">
    <a href="{{ .Get "url" }}" class="flex cursor-pointer rounded h-full text-gray-800 hover:bg-purple-lightest hover:text-purple-dark">
        <div class="pl-4 pr-2 py-4">
            
            {{ $current := (.Get "icon") }}
            {{- with (index $.Site.Data.svg ($current | urlize) ) -}}
               
                <svg class="w-10 h-10 opacity-75" alt="{{ $current }}" viewbox="{{ .viewbox }}" style="fill:{{ with $.Get "fill" }}{{.}}{{ else }}{{ .fill | default "currentColor" }}{{ end }}">
                    {{ .path | safeHTML }}
                </svg>
                
            {{- end -}}

        </div>
        <div class="flex-1 p-4">
            <div class="m-0 text-base font-semibold font-sans">
                {{ .Get "name" }}
            </div>
            <div class="m-0 pt-3 text-grey-dark leading-tight text-sm">
                {{ .Get "content" }}
            </div>
        </div>
    </a>
</div>
