/* header {
  background: #c07bb2;
  background: -webkit-linear-gradient(left,#b171ac 0,#c07bb2 30%,#a268a6 60%,#70478b 100%);
  background: -o-linear-gradient(left,#b171ac 0,#c07bb2 30%,#a268a6 60%,#70478b 100%)
  background: -moz-linear-gradient(left,#b171ac 0,#c07bb2 30%,#a268a6 60%,#70478b 100%);
  background: linear-gradient(to right,#b171ac 0,#c07bb2 30%,#a268a6 60%,#70478b 100%);
} */
