{{ define "container" }}

<main class="content">
    <section class="">
        <article class="container mx-auto py-12 max-w-xl">
            <div class="leading-tight text-center text-grey-darker font-thin text-lg md:text-xl lg:text-2xl">
            
                {{ .Content }}
            </div>
        </article>
    </section>

    <section class="bg-white">

        <article class="container mx-auto pl-6 pr-0 py-8 max-w-lg">

            <div class="flex flex-wrap items-stretch content-top text-grey-darker">
                <div class="w-full sm:w-1/2 pl-16 pr-8 py-6 relative">
                    <div class="absolute w-10 -ml-16 -mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>User Group</title>
                        <desc>A line styled icon from Orion Icon Library.</desc>
                        <path data-name="layer2"
                        d="M27.4 12.2c.9-3.3 3.2-7.4 9-7.4 0 0 16-5.1 16 11.2 0 13.7 3.1 15.2 6.4 18.5A56.6 56.6 0 0 1 46 36v1.6c0 1.6-.3 4.8 7.7 6.4s8.3 8 8.3 8H41"
                        fill="none" class="stroke-primary" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                        <path data-name="layer1" d="M38.1 51.2c-8-1.1-8-4-8-5.6v-.9a14.6 14.6 0 0 0 4.2-7c2.4 0 3-5.1 3-5.8s-.2-3.6-1.3-3.9c4-14-8-20-18.4-12.8-4.4 0-5.8 6.4-4.2 12.8-1.1 0-1.3 3-1.3 3.8s.6 5.8 3 5.8c.8 2.9 3 5.3 4.9 7v1c0 1.6-.6 4.6-8.7 5.6S2 60 2 60h44s.1-7.7-7.9-8.8z"
                        fill="none" class="stroke-current" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                        </svg>
                    </div>
                    <h3 class="mt-0 text-lg">Student Centred</h3>
                    Gibbon collates student information, helping teachers to understand, contact, find and help their students.
                </div>
                <div class="w-full sm:w-1/2 pl-16 pr-8 py-6 relative">
                    <div class="absolute w-10 -ml-16 -mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Guide</title>
                            <desc>A line styled icon from Orion Icon Library.</desc>
                            <path data-name="layer2"
                            d="M24 52a8 8 0 0 1 8 8V16a8 8 0 0 0-8-8H2v44zM54 8h8v44H40a8 8 0 0 0-8 8"
                            fill="none" class="stroke-current" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                            <path data-name="layer2" d="M32 16a8 8 0 0 1 8-8h2" fill="none"
                            class="stroke-current" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                            <path data-name="layer1" fill="none" class="stroke-primary" stroke-miterlimit="10"
                            stroke-width="2" d="M54 26l-6-4-6 4V4h12v22zm-44-8h14m-14 8h14m-14 8h14m-14 8h14m16-8h14m-14 8h14"
                            stroke-linejoin="round" stroke-linecap="round"></path>
                        </svg>
                    </div>
                    <h3 class="mt-0 text-lg">Teacher Led</h3>
                    Gibbon is built by teachers to solve problems common to all schools, allowing seamless planning, teaching and assessment.
                </div>
                <div class="w-full sm:w-1/2 pl-16 pr-8 py-6 relative">
                    
                    <div class="absolute w-10 -ml-16 -mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Home Page</title>
                            <desc>A line styled icon from Orion Icon Library.</desc>
                            <circle data-name="layer2"
                            cx="8" cy="12" r="1" fill="none" class="stroke-current" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2"></circle>
                            <circle data-name="layer2" cx="15" cy="12" r="1" fill="none"
                            class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                            <circle data-name="layer2" cx="22" cy="12" r="1" fill="none"
                            class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                            <path data-name="layer2" fill="none" class="stroke-current" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M2 6h52v12H2zm52 28V18H2v32h32"></path>
                            <path data-name="layer1" fill="none" class="stroke-primary" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M30 42l16-16 16 16"></path>
                            <path data-name="layer1" fill="none" class="stroke-primary" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M34 38.2V58h24V38.1"></path>
                            <path data-name="layer1" fill="none" class="stroke-primary" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" d="M42 58V46h8"></path>
                        </svg>
                    </div>
                    <h3 class="mt-0 text-lg">Unified Access</h3>
                    Teachers, students, parents and administrators all access Gibbon from the same web-based platform, with highly configurable levels of access. 
                </div>
                
                <div class="w-full sm:w-1/2 pl-16 pr-8 py-6 relative">
                   
                    <div class="absolute w-10 -ml-16 -mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class=""  viewBox="0 0 64 64" aria-labelledby="title"
    aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Social</title>
                            <desc>A line styled icon from Orion Icon Library.</desc>
                            <circle data-name="layer2"
                            cx="32" cy="39" r="7" fill="none" class="stroke-primary" stroke-miterlimit="10"
                            stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
                            <path data-name="layer2" d="M32 46a12.1 12.1 0 0 0-12 12v2h24v-2a12.1 12.1 0 0 0-12-12z"
                            fill="none" class="stroke-primary" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                            <circle data-name="layer2" cx="52" cy="10" r="6" fill="none" class="stroke-primary"
                            stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
                            <path data-name="layer2" d="M62 28c0-7.5-4.5-12-10-12s-10 4.5-10 12z"
                            fill="none" class="stroke-primary" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                            <circle data-name="layer2" cx="12" cy="10" r="6" fill="none" class="stroke-primary"
                            stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></circle>
                            <path data-name="layer2" d="M22 28c0-7.5-4.5-12-10-12S2 20.5 2 28z"
                            fill="none" class="stroke-primary" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                            <path data-name="layer1" fill="none" class="stroke-current" stroke-miterlimit="10"
                            stroke-width="2" d="M12 34l8 8m32-8l-8 8M24 14h16" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                        </svg>
                        </div>
                    <h3 class="mt-0 text-lg">Free & Flexible</h3>
                    Gibbon is free, open source software: its flexible design gives schools complete control and freedom.
                </div>
            </div>
        </article>
    </section> 

    <!-- <section class="bg-grey-lighter">
        <article class="container mx-auto py-8 px-12 max-w-lg">

            {{ range first 1 (shuffle $.Site.Data.quotes) }}
                {{ if ne .quote nil }}
                <blockquote class="relative mt-8 mb-6 text-grey-dark text-base sm:text-lg">
                    <span class="absolute text-white pin-left -ml-12 -mt-10" style="font-size: 6rem;">“</span>
                    {{ .quote | markdownify }}
                    <span class="absolute text-white pin-right ml-2 -mt-4" style="font-size: 6rem;">”</span>

                    <cite class="block text-right text-sm text-grey mt-8">{{ .person | title }}, {{ .location }}</cite>
                </blockquote>
                {{ end }}
            {{ end }}
                
        </article>

    </section> -->


    <section class="bg-purple-lightest">
        <article class="container mx-auto py-12 max-w-lg flex flex-wrap sm:flex-no-wrap  items-stretch content-center">

            <div class="text-purple-dark sm:pr-8">

                <h2 class="text-purple-darker text-3xl font-thin mt-0 text-center sm:text-left">
                    Multilingual
                </h2>

                <p>
                    Gibbon speaks many languages! The core is available in 15 actively-translated languages, with many more in the works. It also provides support for right-to-left text and UTF-8 encoding.
                </p>
                <p>    
                    Our language options are made possible by the many volunteers who have worked to translate Gibbon into their language. Learn more about our <a href="">available languages</a> and <a href="">collaborative translation tools</a>.
                </p>

            </div>

            <div class="h-64 sm:h-auto mx-auto sm:mx-0 mt-6 sm:mt-0">
                <div class="bg-white w-64 h-full shadow" style="background-image: url({{ .Site.BaseURL }}img/poeditor.png); background-size: cover; background-position: top center;">

                </div>
            </div>

        </article>
    </section>

    
    <section class="bg-secondary-gradient">
            <article class="container mx-auto py-12 px-8 max-w-lg">
    
                    <div class="text-center mb-8">
                            <h2 class="text-white text-3xl font-thin mt-0 leading-tight">Created by Educators, for Educators</h2>
            
                            <p class="text-purple-lighter text-lg sm:px-12 md:px-24">
                                The workflows in Gibbon have been designed in a school, based on feedback from the people using it everyday.
                            </p>
            
                        </div>
    
                <!-- <div class="flex flex-wrap -mx-6 text-purple-lightest">
    
                    <div class="w-1/3 px-6 text-sm">
                        <h3 class="mt-0 text-lg text-white">Free</h3>
                        Gibbon aims aim to provide all schools, no matter their size or resources they have, with the systems they need for effective learning, teaching and school management.
                    </div>
                    
                    <div class="w-1/3 px-6 text-sm">
                        <h3 class="mt-0 text-lg text-white">Open Source</h3>
                        As an open source platform, Gibbon enables schools to host on their own servers, backup, redistribute and modify the software as needed.
                    </div>
                    <div class="w-1/3 px-6 text-sm">
                        <h3 class="mt-0 text-lg text-white">Flexible</h3>
                        Right from the beginning, Gibbon was designed to be flexible, extensible and themeable, whilst aiming to help teachers to do their jobs.
                    </div>
                </div>   -->

                <div class="relative w-full max-w-lg rounded overflow-hidden shadow-md mx-auto -mb-24 mt-12" style="line-height: 0;">

                    <img src="{{ .Site.BaseURL }}/features/people/screenshot-students.png">
                </div>
                    
            </article>
    
        </section>

    <!-- <section class="bg-secondary-gradient">
        <article class="container mx-auto py-12 max-w-lg px-12 text-white mb-12">

            <div class="mx-auto px-24 pb-6 text-3xl font-thin text-center leading-tight">
                Community Support
            </div>  

            <span class="text-purple-lighter text-lg">
                Gibbon’s <a href=""><span class="font-bold text-purple-lightest">guides and documentation</span></a> are open source, written by fellow users and developers. If you can’t find the answer in the docs, you can also ask members of the Gibbon community in <a href=""  class="font-bold text-purple-lightest">our support forums</a>.
            </span>

            <div class="w-full max-w-lg rounded overflow-hidden bg-grey-darkest mx-auto -mb-24 mt-12">

                <img src="{{ .Site.BaseURL }}/features/people/screenshot-students.png">
            </div>
        </article>

    </section> -->

    <section class="bg-white pt-12">
        <article class="container mx-auto py-12  max-w-lg">

            <div class="mb-12">

                <div class="pb-8 text-3xl font-thin text-center leading-tight">
                    Community Support<br/><span class="inline-block align-middle text-grey text-2xl">&</span> Development
                </div>  
    
                <span class="text-grey-dark text-lg">
                    Gibbon’s <a href="https://docs.gibbonedu.org">guides and documentation</a> are open source, written by fellow users and developers. If you can’t find the answer in the docs, you can also ask members of the Gibbon community in <a href="https://ask.gibbonedu.org">our support forums</a>.
                </span>
            </div>

                <!-- <div class="text-center mb-8">
                        <h2 class="text-purple-darker text-3xl font-thin mt-0">Created by Educators, for Educators</h2>
        
                        <p class="text-purple-dark text-lg ">
                            The workflows in Gibbon have been designed in a school,<br/>based on feedback from the people using it everyday.
                        </p>
                    </div> -->

            <div class="flex flex-wrap -mx-6">

                <div class="sm:w-1/3 px-6 text-sm text-grey-darker">
                    <h3 class="mt-0 text-lg">Free</h3>
                    Gibbon aims aim to provide all schools, no matter their size or resources they have, with the systems they need for effective learning, teaching and school management.
                </div>
                
                <div class="sm:w-1/3 px-6 text-sm text-grey-darker">
                    <h3 class="sm:mt-0 text-lg">Open Source</h3>
                    As an open source platform, Gibbon enables schools to host on their own servers, backup, redistribute and modify the software as needed.
                </div>
                <div class="sm:w-1/3 px-6 text-sm text-grey-darker">
                    <h3 class="sm:mt-0 text-lg">Flexible</h3>
                    Right from the beginning, Gibbon was designed to be flexible, extensible and themeable, whilst aiming to help teachers to do their jobs.
                </div>
            </div>  
                
        </article>

    </section>

    <section class="">
            <article class="container mx-auto py-8 px-12 max-w-lg">
    
                {{ range first 1 (shuffle $.Site.Data.quotes) }}
                    {{ if ne .quote nil }}
                    <blockquote class="relative mt-8 mb-6 text-grey-dark text-sm sm:text-base sm:text-lg">
                        <span class="absolute text-grey-lighter pin-left -ml-12 -mt-10" style="font-size: 6rem;">“</span>
                        {{ .quote | markdownify }}
                        <span class="absolute text-grey-lighter pin-right ml-2 -mt-4" style="font-size: 6rem;">”</span>
    
                        <cite class="block text-right text-xs sm:text-sm text-grey mt-8">{{ .person | title }}, {{ .location }}</cite>
                    </blockquote>
                    {{ end }}
                {{ end }}
                    
            </article>
    
        </section>

    <section class="bg-purple-lightest">
        <article class="container mx-auto py-12 px-6 max-w-lg">

            <div class="text-center mb-4">
                <h2 class="text-purple-darker text-3xl font-thin mt-0 leading-tight">Get started with Gibbon</h2>

                <p class="text-purple-dark text-lg ">
                    Install Gibbon in a local dev environment to test it out, or get your school up and running on a remote server. Read the installation guide for system requirements and instructions.
                </p>

            </div>
            <div class="flex flex-wrap items-center justify-around -mb-4">
   
                <a href="{{ .Params.downloadURL }}" class="inline-block my-4 px-6 py-5 rounded-full border border-purple-dark hover:bg-purple-dark hover:shadow text-purple-dark hover:text-white text-lg leading-none">
                        <svg class="fill-current w-4 h-4 mr-2 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                    <span>Download Gibbon</span>
                </a>
            
   
                <a href="{{ .Params.downloadURL }}" class="inline-block my-4 px-6 py-5 rounded-full border border-purple-dark hover:bg-purple-dark hover:shadow text-purple-dark hover:text-white text-lg leading-none">
                    <span>Installation Guide</span>
                </a>
            
   
                <a href="{{ .Params.downloadURL }}" class="inline-block my-4 px-6 py-5 rounded-full border border-purple-dark hover:bg-purple-dark hover:shadow text-purple-dark hover:text-white text-lg leading-none">
                    <span>Documentation</span>
                </a>
            </div>
            
        </article>

    </section>
</main>

{{ end }}
