{{ define "container" }}

<main class="content">
    <section class="">
        <article class="container mx-auto py-12 max-w-xl">
            <div class="leading-tight text-center text-grey-darker font-thin text-lg md:text-xl lg:text-2xl -mb-8">
            
                {{ .Content }}
            </div>
        </article>
    </section>

    <section class="bg-grey-lighter">
        <article class="container mx-auto py-8 px-12 max-w-lg">

            {{ range first 1 (shuffle $.Site.Data.quotes) }}
                {{ if ne .quote nil }}
                <blockquote class="relative mt-8 mb-6 text-grey-dark text-base sm:text-lg">
                    <span class="absolute text-white pin-left -ml-12 -mt-10" style="font-size: 6rem;">“</span>
                    {{ .quote | markdownify }}
                    <span class="absolute text-white pin-right ml-2 -mt-4" style="font-size: 6rem;">”</span>

                    <cite class="block text-right text-sm text-grey mt-8">{{ .person | title }}, {{ .location }}</cite>
                </blockquote>
                {{ end }}
            {{ end }}
                
        </article>

    </section>

    <section class="bg-secondary-gradient">
        <article class="container mx-auto py-12 max-w-lg px-12 text-white mb-12">

            <div class="mx-auto px-24 pb-6 text-2xl font-bold text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit! 
            Sed do eiusmod tempor.
            </div>  

            <span class="text-purple-lighter text-lg">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>

            <div class="w-full max-w-lg h-64 bg-grey-darkest mx-auto -mb-24 mt-12">

            </div>
        </article>

    </section>

    <section class="">
        <article class="container mx-auto py-12 px-12 max-w-lg flex flex-wrap">

            <div class="w-1/3 pr-4">
                <h3 class="mt-0">Translation</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
            </div>
            <div class="w-1/3 px-4">
                <h3 class="mt-0">Administration</h3>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
            </div>
            <div class="w-1/3 pl-4">
                <h3 class="mt-0">Development</h3>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum nostrud exercitation.
            </div>
              
                
        </article>

    </section>

    <section class="bg-grey-lighter">
        <article class="container mx-auto py-8 px-12 max-w-lg flex items-center justify-around">

            
            <div class="">
                <a href="{{ .Params.downloadURL }}" class="inline-block px-6 py-5 rounded-full border border-purple-dark hover:bg-purple-dark hover:shadow text-purple-dark hover:text-white text-lg leading-none">
                        <svg class="fill-current w-4 h-4 mr-2 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                    <span>Download Gibbon</span>
                </a>
            </div>
            <div class="">
                <a href="{{ .Params.downloadURL }}" class="inline-block px-6 py-5 rounded-full border border-purple-dark hover:bg-purple-dark hover:shadow text-purple-dark hover:text-white text-lg leading-none">
                    <span>Learn More</span>
                </a>
            </div>
            <div class="">
                <a href="{{ .Params.downloadURL }}" class="inline-block px-6 py-5 rounded-full border border-purple-dark hover:bg-purple-dark hover:shadow text-purple-dark hover:text-white text-lg leading-none">
                    <span>Documentation</span>
                </a>
            </div>
        </article>

    </section>
</main>

{{ end }}
