{{ define "main" }}

<article class="content">

    <h1 class="text-grey mt-0 mb-6  text-xl font-bold">{{ .Title }}</h1>

    {{ .Content }}

    <section class="mt-6">
    {{ range .Sections }}

        <h2>{{ .Title }} </h2>

        <p>{{ .Content }}</p>

        <section>
        {{ range .Pages }}
            <article class="my-6">

            <h3>{{ .Title }}</h3>

            <p>{{ .Content }}</p>

            </article>
        {{ end }}
        </section>
    {{ end }}
    </section>

</article>
    
{{ end }}
