{{ define "container" }}

<main class="content">

    <section class="container mx-auto py-12 lg:max-w-lg">
        <h1 class="text-grey mt-0 mb-6  text-xl font-bold">{{ .Title }}</h1>

        <div class="-mb-6">{{ .Content }}</div>
    </section>

    {{ range $index, $section := .Sections }}
    <div class="{{ if not (modBool $index 2) }} bg-grey-lightest {{ else }} bg-white {{ end }}">
        <section class="container mx-auto py-12 lg:max-w-lg">


        <h2 class="mt-0 font-thin">{{ $section.Title }} </h2>

        <p>{{ $section.Content }}</p>

        {{ $resources := $section.Resources }}

        <section class="flex flex-wrap flex-grow items-top -mx-6 -mb-12 text-grey-darker">
        {{ range .Pages }}
            <article class="px-6 mb-12 {{ if .Params.size }}w-{{ .Params.size }}{{ else }}w-full sm:w-1/2{{ end }}">

            <h3 class="mt-0">{{ .Title }}</h3>

            {{ .Content }}

            </article>

            {{ if .Params.screenshot }}

                <article class="px-6 mb-6 {{ if .Params.size }}w-{{ .Params.size }}{{ else }}w-full sm:w-1/2{{ end }}">

                {{ with $resources.GetMatch .Params.screenshot }}
                <figure class="rounded -mx-6 mb-6 shadow-lg overflow-hidden bg-white" style="line-height: 0;">
                    <img class="mx-auto rounded-sm" src="{{ .RelPermalink }}">
                </figure>
                {{ end }}

                </article>
            {{ end }}

            
        {{ end }}
        </section>
    </section>
    </div>
    {{ end }}

</main>
    
{{ end }}
