
<div class="rounded-lg overflow-hidden shadow-lg -mx-8 mb-8">

{{ range $index, $item := .Pages }}
    <section class="flex flex-wrap items-center justify-between p-8 {{ if not (modBool $index 2) }} bg-grey-lightest {{ else }} bg-white {{ end }}">
        <div class="w-full sm:flex-1 text-grey-dark text-sm">
            <h3 class="mt-0">
                {{ $item.Title }}
            </h3>

            {{ $item.Description | markdownify }}

            <div class="text-grey text-xs font-normal mt-4">By 
                {{ range $username, $author := $item.Params.author }}
                    <a href="{{ $author.url }}">{{ $author.name }}</a>
                {{ end }}

                
            </div>
        </div>

        {{ if $item.Params.release }}
        <div class="w-full md:w-64 pt-4 md:pt-0 md:pl-8 leading-tight">

            {{ $multiRelease := gt (len $item.Params.release) 1 }}
            {{ $latestRelease := index $item.Params.release (sub (len $item.Params.release) 1) }}

            <div class="flex md:flex-wrap-reverse items-center">

                <div class="w-full text-grey-dark text-sm mr-4 md:mr-0">
                    {{ if not $multiRelease }}
                        <strong>Requires Core {{ $latestRelease.core }}</strong><br/>
                    {{ end }}
                    <span class="text-grey text-xs">Released {{ dateFormat "Jan 3, 2006" $latestRelease.date }}</span>
                </div>

                {{ range $index, $release := $item.Params.release }}
            
                <a class="w-full rounded-full border border-purple-dark hover:bg-purple-dark hover:shadow px-4 py-2 md:mb-4 text-purple-dark hover:text-white text-base  leading-none text-center" href="{{ $release.url }}" title="Download {{ $item.Title }} {{ $release.version }}">
                    <svg class="fill-current w-3 h-3 mr-2 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                    <span>{{ $item.Title }} <small class="font-thin">{{ $release.version }}</small></span>
                    {{ if $multiRelease }}<div class="text-xs text-purple-light mt-2">Requires Core {{ $release.core }}</div>{{ end }}
                </a>
            
                {{ end }}
            </div>

            <!-- {{ $recentRelease := (index $item.Params.release 0).date }}
            <span class="text-grey text-xs">Released {{ dateFormat "Jan 3, 2006" $recentRelease }}</span> -->
        </div>
        {{ end }}

    </section>
{{ end }}

</div>
