
<div class="flex flex-wrap items-center mb-10 -mx-6">
    <section class="md:w-2/3 rounded-lg overflow-hidden shadow-md" itemscope itemtype="http://schema.org/SoftwareApplication">

        <header class="bg-white p-6">
            <h2 class="mt-0" itemprop="name">Gibbon Core</h2>
            <p class="mb-0 text-grey-dark" itemprop="description">
                Use the following link to download the Gibbon Core. Follow the <a href="https://docs.gibbonedu.org/administrators/getting-started/installing-gibbon/">Installation Guide</a>, and then you can look in the <a href="{{ .Site.BaseURL }}extend">Extend</a> section for themes and modules.</p>
        </header>
        <footer class="bg-grey-lightest flex flex-wrap items-center justify-center sm:justify-between p-6">
            <div class="pr-6">
                <strong class="text-grey-dark">Stable Version {{ .Title }}</strong><br/>
                <span class="text-grey text-sm" itemprop="dateModified">Released {{ dateFormat "Jan 2, 2006" .Params.releaseDate }}</span>
                <span class="hidden" itemprop="applicationCategory">Web Application</span>
                <span class="hidden" itemprop="applicationSubCategory">School Platform</span>
                <span class="hidden" itemprop="operatingSystem">Web Server with PHP and MySQL</span>
            </div>
            <div class="">
                <a title="Download Gibbon {{ .Title }}" href="{{ .Params.downloadURL }}" class="inline-block rounded-full bg-purple-dark hover:bg-purple hover:shadow px-6 py-5 text-white text-lg  leading-none" onclick="javascript: _gaq.push(['_trackPageview', '/core/{{ .Title }}.zip']);" itemprop="downloadURL">
                    <svg class="fill-current w-4 h-4 mr-2 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" alt="Download Icon"/></svg>
                    <span>Download <small class="font-thin">{{ .Title }}</small></span>
                </a>
            </div>
        </footer>
    </section>

    <section class="w-full md:w-1/3 rounded-r-lg overflow-hidden p-6  text-grey-dark text-center text-sm">
        <p>Looking for a quick install? <a class="font-bold hover:text-purple-darker" href="https://www.softaculous.com/apps/educational/Gibbon">Set up</a> Gibbon via Softaculous.</p>
        <a class="opacity-64 hover:opacity-100" href="https://www.softaculous.com/apps/educational/Gibbon"><img src="{{ .Site.BaseURL }}img/softaculous-logo.png" class="h-12 md:h-16 mx-auto" alt="Softaculous Demo"></a>
    </section>

</div>

<section class="">

<h2><span class="font-thin text-lg" itemprop="softwareVersion">{{ .Title }}</span> <span class="">{{ .Params.name }}</span></h2>

<blockquote class="relative px-8 my-4 text-grey" itemprop="citation">
    <span class="absolute text-grey-lighter text-5xl pin-left -ml-6 -mt-4">“</span>
    {{ .Params.quote.text }}
    <span class="absolute text-grey-lighter text-5xl pin-right ml-2 -mt-3">”</span>
    <cite>
        <a class="block text-right text-sm text-purple-darker " href="{{ .Params.quote.link }}">{{ .Params.quote.link }}</a>
    </cite>
</blockquote>

<h2 class="mt-2">Headlines</h2>

<ul class="list-reset" itemprop="featureList">
    {{ range .Params.headlines }}
    <li class="py-2 pl-8">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 -mt-1 mr-2 icon-add-circle align-middle text-white" alt="Plus Icon"><circle cx="12" cy="12" r="10" class="fill-primary"></circle><path class="fill-current" d="M14.59 13H7a1 1 0 0 1 0-2h7.59l-2.3-2.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l2.3-2.3z"></path></svg>

        {{ . }}
    </li>
    {{ end }}
</ul>

<div class="my-2 text-sm text-right">
<a class="font-normal italic text-purple-darker" href="{{ .Params.githubURL }}/CHANGELOG.txt">Read the full Changelog</a>
</div>

{{/*
<section class="rounded-lg overflow-hidden bg-grey-lightest shadow p-6 mt-10 -mx-6 mb-12">

    <h3 class="mt-0 mb-2">Gibbon Mapping Project</h3>

    <p class="mb-0 text-grey-dark">
        We are building a map of schools using Gibbon and/or Free Learning, and we’d love to know about your usage. If you have a moment, please complete our 3-minute form: <a href="https://bit.ly/3idoTWw">https://bit.ly/3idoTWw</a>. Thanks!
    </p>

</section>
*/}}


<h2 class="mt-2">Release Notes</h2>

<span itemprop="releaseNotes">
{{ .Content }}
</span>

</section>

<section class="rounded-lg overflow-hidden bg-grey-lightest shadow p-6 mt-10 -mx-6">
    <a href="https://github.com/GibbonEdu/core">
        <img src="{{ .Site.BaseURL }}img/github-logo.svg" class="p-2 ml-4 w-16 sm:w-24 opacity-75 hover:opacity-100 float-right" alt="Gibbon Core on GitHub"/>
    </a>

    <h3 class="mt-0 mb-2">Cutting Edge Code</h3>

    <p class="mb-0 text-grey-dark">
        If you would like to run the very latest, not-necessarily-stable cut of Gibbon, you can get it from our <a href="https://github.com/GibbonEdu/core">GitHub repo</a>. Please be sure to read the Cutting Edge section of our <a href="https://docs.gibbonedu.org/administrators/getting-started/installing-gibbon/">Installation Guide</a> before using any of these files.
    </p>

</section>
